resources:
  - ../base

namespace: prod
namePrefix: prod-

patches:
  - target:
      kind: Deployment
      name: myapp
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
